body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(56,189,248,0.4);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  margin-bottom: 15px;
  padding: 5px;
  text-align: right;
  border-radius: 8px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #1e293b;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #38bdf8;
  color: black;
}

.equal {
  background: #38bdf8;
  color: black;
}

.zero {
  grid-column: span 2;
}
